.home-container {
  // position: relative;

  // .background-clip {
  //   position: absolute;
  //   right: 0;
  //   bottom: 0;
  //   top: 0;
  //   left: 0;
  //   z-index: -1;
  //   width: 100%;
  //   height: auto;
  // }
  .home-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 64px;
    .first-content {
      h3 {
        font-size: 40px;
      }
      .a-to-z-content {
        display: flex;
        align-items: center;
        margin-top: 16px;
        h1 {
          font-size: 109px;
        }
        img {
          width: 70px;
        }
      }
      h2 {
        color: #02d4f8;
        font-size: 64px;
        margin-top: -32px;
      }
      p {
        color: #fff;
        margin-top: 44px;
        line-height: 22px;
      }
      .visit-btn {
        margin-top: 64px;
        button {
          display: flex;
          align-items: center;
          gap: 12px;
          padding: 12px 32px;
          background: transparent;
          color: #00ce53;
          outline: none;
          border: 1px solid #00ce53;
          cursor: pointer;
          font-family: var(--font-bold);
          img {
            width: 37px;
          }
        }
      }
    }
    .second-content {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      .hexagonArea {
        display: flex;
        justify-content: center;

        .hexagon {
          position: relative;
          margin: 0 10px;
          clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
          background: #00ce53;
          width: 100px;
          height: 118px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          transition: 0.5s;
          h3 {
            text-align: center;
            font-size: 12px;
          }
        }
      }
    }
  }
}
