.home-container {
  position: relative;

  .background-clip {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: auto;
    video {
      object-fit: cover;
    }
    .overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 2;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    }
  }
  .home-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 64px;
    .first-content {
      h3 {
        font-size: 40px;
      }
      .a-to-z-content {
        display: flex;
        align-items: center;
        margin-top: 16px;
        h1 {
          font-size: 109px;
        }
        img {
          width: 70px;
        }
      }
      h2 {
        color: #02d4f8;
        font-size: 64px;
        margin-top: -32px;
      }
      p {
        color: #fff;
        margin-top: 44px;
        line-height: 22px;
      }
      .visit-btn {
        margin-top: 64px;
        button {
          display: flex;
          align-items: center;
          gap: 12px;
          padding: 12px 32px;
          background: transparent;
          color: #00ce53;
          outline: none;
          border: 1px solid #00ce53;
          cursor: pointer;
          font-family: var(--font-bold);
          img {
            width: 37px;
          }
        }
      }
    }
    .second-content {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      .hexagonArea {
        display: flex;
        justify-content: center;
        position: relative;

        .hexagon {
          position: relative;
          margin: 0 4px;
          -webkit-clip-path: polygon(
            0 25%,
            50% 0,
            100% 25%,
            100% 75%,
            50% 100%,
            0 75%
          );
          clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
          width: 94px;
          height: 100px;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          transition: 0.5s;
          backdrop-filter: blur(12px);

          h3 {
            text-align: center;
            font-size: 10px;
            color: rgba(255, 255, 255, 0.6);
            font-family: var(--font-light);
            letter-spacing: 1.2px;
            padding: 0 12px;
          }
        }
      }
    }
  }
}
