.impacts-home {
  background-image: url(../../assets/images/bg-image.png);
  background-repeat: no-repeat;
  background-size: cover;

  .impact_hero {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;

    .hero_wrapper {
      display: flex;
      img {
        width: 50%;
      }
    }
    .explain {
      h4 {
        font-size: 24px;
        font-weight: 400;
        line-height: 40px;
        letter-spacing: -0.06em;
        padding: 148px 64px;
      }
    }
  }
}
