.webdevelopment-hero {
  position: relative;
  img {
    position: absolute;
  }
}
.heading {
  text-align: center;
  p {
    color: #02d4f8;
    margin-bottom: -80px;
  }
}
.Collaborate {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 68px;
  gap: 64px;
  background: #0a0a0a;
  @media (max-width: 690px) {
    padding: 64px 38px;
  }
  h1 {
    text-align: center;
    font-weight: 100;
    font-size: 48px;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 20px;
    @media (max-width: 750px) {
      font-size: 38px;
    }
    @media (max-width: 750px) {
      font-size: 28px;
      padding-bottom: 0;
    }
  }
  .collaborate-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 64px;
    @media (max-width: 890px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (max-width: 690px) {
      grid-template-columns: repeat(2, 1fr);
    }
    .detail {
      h2 {
        font-weight: 600;
        font-size: 16px;
        padding: 24px 0 10px;
      }
    }
  }
}
