*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy-Medium";
}
html {
  scroll-behavior: smooth;
}

body {
  background: #0a0a0a;
  color: #f5f5f5;
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url("./assets/fonts//Gilroy-Bold.ttf");
}
@font-face {
  font-family: "Gilroy-Medium";
  src: url("./assets/fonts/Gilroy-Medium.ttf");
}
@font-face {
  font-family: "Gilroy-SemiBold";
  src: url("./assets/fonts/Gilroy-SemiBold.ttf");
}
@font-face {
  font-family: "Gilroy-Light";
  src: url("./assets/fonts/Gilroy-Light.ttf");
}

:root {
  --font-bold: "Gilroy-Bold";
  --font-medium: "Gilroy-Medium";
  --font-semiBold: "Gilroy-SemiBold";
  --font-light: "Gilroy-Light";
  --header-background-color: #0e0e0e;
  --header-para-color: #8a8a8a;
  --button-primary: #00ce53;
  --blue: #02d4f8;
  /* --text-primary-clr: ; */
}
.mx {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}
.pad {
  padding: 0 64px;
}
p {
  font-size: 14px;
  font-family: var(--font-light);
  color: #aaaaaa;
}
h4 {
  color: #ffffff;
  font-size: 48px;
  font-weight: 600;
  letter-spacing: -0.06em;
}
